html {
    overflow-y: auto !important;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.hidden {
    display: none !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-title-30 {
    font-weight: bold;
    font-size: 30px;
}

.text-description {
    font-size: 15px;
}